.myButton {
	background-color:#4682B4;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:30px;
	transition: all 0.2s ease;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 25px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#B0C4DE;
}
.myButton:active {
	position:relative;
	top:1px;
}
.center2{
	width: 60px;
	height:50px;
	 margin-left: auto;
	 margin-right: auto;
	 display: block;
}
